.ValidationMark {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */

	color: #eee;
	border-radius: 50%;
	padding: 0em;

	height: 100px;
	width: 100px;

	margin: auto;

	display: flex;
	justify-content: center;
	align-items: center;
}
