$background: black;
$shadow: #0000003f;

$dark: #3b3836;
$neutral: #4d4c4b;
$light: #888684;
$highlight: #f4f3ee;
$accent: #e0afa0;

/* $dark: #0f110c;
$neutral: #cecccc;
$light: #9d6381;
$highlight: #fdecef;
$accent: #612940; */

// $dark: #222222;
// $neutral: #444;
// $light: #666;
$bright: #eee;
$highlight: #fff;
$accent: #ff94e8;
$complement: #f0b86e;
$bg-white: #eeeeee;

$font-white: #ffffff;
$font-light: #eeeeee;
$font-dark: #333333;
$font-accent: $accent;
