.shopitems {
  display: flex;
  justify-content: center;
  width: 100%;

  & a {
    font-size: 16pt;

    // color: #26277c;
    // &:visited {
    //   color: #4244b1;
    // }

    text-decoration: underline;
  }
}
