@use "../../styles/partials/devices";

.Manager {
  display: flex;
  justify-content: center;
  margin: 2em;
  padding: 2em;
  border-radius: 4px;
  background-color: #fff;
  flex-direction: column;
  color: #222;
  width: min(100vw, 600px);
  gap: 1em;

  box-shadow: 10px 10px 20px #b1b1b1, -10px -10px 20px #ffffff;

  outline: 4px solid #2f00ff;

  @include devices.phone {
    width: 400px;
  }
}

.filepreview {
  height: 200px;
  overflow-y: auto;
}
